<mat-sidenav-container class="admin-sidenav-container">
  <mat-sidenav #drawer class="admin-sidenav" fixedInViewport
               [mode]="'side'"
               [opened]="true">
    <mat-toolbar>Admin Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/portal">Home</a>
      <a mat-list-item routerLink="/admin/users">Manage Users</a>
      <a mat-list-item routerLink="/admin/notifications/send">Notifications</a>
      <a mat-list-item routerLink="/admin/notifications/templates">Notification Templates</a>
      <a mat-list-item routerLink="/admin/settings">Settings</a>
      <a mat-list-item routerLink="/admin/logs">Logs</a>
      <a mat-list-item (click)="logout()" *ngIf="isLoggedIn">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Admin - {{ username }}</span>
    </mat-toolbar>
    <!-- The RouterOutlet will load your admin pages here -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <footer>My Footer</footer>
  </mat-sidenav-content>
</mat-sidenav-container>
