<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/admin" *ngIf="isAdmin">Admin</a>
      <a mat-list-item routerLink="/portal/profile" *ngIf="isLoggedIn">Profile</a> <!-- Updated path -->
      <a mat-list-item routerLink="/portal/user/settings" *ngIf="isLoggedIn">Settings</a>
      <a mat-list-item routerLink="/portal/user/invite" *ngIf="isLoggedIn">Invite</a>
      <a mat-list-item routerLink="/portal/user/sessions" *ngIf="isLoggedIn">Sessions</a>
      <ng-container *ngFor="let link of pluginNavLinks">
        <a mat-list-item [routerLink]="'/portal/' + link.routePath">{{ link.navigationLabel }}</a>
      </ng-container>
      <a mat-list-item (click)="logout()" *ngIf="isLoggedIn">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Portal - {{ username }}</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
