@use '@angular/material' as mat;
@use '../../../../styles/green_theme-colors.scss' as myapp-theme; // adjust the path as needed
@use 'sass:color';

.admin-logs-browser-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .filters-form {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .actions-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 16px;
  }

  .odd-record {
    // Use tone 30 instead of 300.
    $base-color: mat.m2-get-color-from-palette(myapp-theme.$primary-palette, 10);
    background-color: $base-color;
  }
   
  .even-record {
    $base-color: mat.m2-get-color-from-palette(myapp-theme.$primary-palette, 10);
    background-color: color.mix($base-color, white, 90%);
  }

  .form-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .form-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }

  .form-field {
    flex: 0 0 100%;
  }
  /* Responsive Design */
  @media (min-width: 601px) and (max-width: 800px) {
    .form-field {
      flex: 0 0 calc(50% - 1rem); /* 2 columns */
    }
  }

  @media (min-width: 801px) {
    .form-field {
      flex: 0 0 calc(33% - 1rem); /* 3 columns */
    }
  }
}
