@use '@angular/material' as mat;
@use './styles/card-overrides' as card-overrides;

@include mat.core();

$myapp-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$myapp-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$myapp-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Define custom palettes
$myapp-error-text: mat.m2-define-palette(mat.$m2-red-palette);
$myapp-header-text: mat.m2-define-palette(mat.$m2-grey-palette);

$myapp-theme: mat.m2-define-light-theme((
  color: (
    primary: $myapp-primary,
    accent: $myapp-accent,
    warn: $myapp-warn,

    // Custom colors
    custom: (
      error-text: $myapp-error-text,
      header-text: $myapp-header-text,
    ),
  ),
));

@include mat.all-component-themes($myapp-theme);
@include mat.all-component-typographies($myapp-theme);

// Expose custom colors
:root {
  --myapp-error-text-color: #{mat.m2-get-color-from-palette($myapp-error-text, 500)};
  --myapp-header-text-color: #{mat.m2-get-color-from-palette($myapp-header-text, 800)};
}

// Include your custom card styles
@include card-overrides.card-content-margin($myapp-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
