.theme-switch-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000; // Ensures it sits on top of other elements
  // Optional: Add some styling for the slide toggle if needed
  mat-slide-toggle {
    background-color: transparent;
  }
}



.sample-content {
  text-align: center;
}

h1 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}
