.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.error-message, .success-message {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.error-message {
  color: #d32f2f; /* Redish tone for errors */
}

.success-message {
  color: #388e3c; /* Greenish tone for success */
}

.table-container {
  overflow: auto;
  max-height: 400px;
}

.full-width-table {
  width: 100%;
}

.full-width-field {
  width: 100%;
}

.add-form-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.paddTop
{
    padding-top:10px;
}
