<mat-toolbar color="primary">
  <span>Resource Editor</span>
  <span class="spacer"></span>

  <mat-form-field appearance="outline" style="width: 200px;" color="accent">
    <mat-label>Resource File</mat-label>
    <mat-select [(value)]="selectedFile" (selectionChange)="onFileChange()">
      <mat-option *ngFor="let file of resourceFiles" [value]="file">{{ file }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<div class="content">
  <div *ngIf="loading" class="loading-container">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    <mat-icon color="warn">error_outline</mat-icon> {{ errorMessage }}
  </div>

  <div *ngIf="successMessage" class="success-message">
    <mat-icon color="primary">check_circle</mat-icon> {{ successMessage }}
  </div>

  <div class="table-container" *ngIf="!loading && !errorMessage">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">

      <!-- Key Column -->
      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef> Key </th>
        <td mat-cell *matCellDef="let element"> {{ element.key }} </td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="editingKey !== element.key">
            {{ element.value }}
          </div>
          <div *ngIf="editingKey === element.key" class="paddTop">
            <mat-form-field appearance="outline" class="full-width-field">
              <mat-label>Value</mat-label>
              <textarea matInput
                        [formControl]="editForm.controls['value']"
                        rows="3"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="3"
                        cdkAutosizeMaxRows="6">
              </textarea>
              <mat-error *ngIf="editForm.controls['value'].invalid">Value is required</mat-error>
            </mat-form-field>
          </div>
        </td>
      </ng-container>


      <!-- Value Column -->
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> Comment </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="editingKey !== element.key">
            {{ element.comment }}
          </div>
          <div *ngIf="editingKey === element.key" class="paddTop">
            <mat-form-field appearance="outline" class="full-width-field">
              <mat-label>Comment</mat-label>
              <input matInput [formControl]="editForm.controls['comment']" />
              <mat-error *ngIf="editForm.controls['comment'].invalid">Comment is required</mat-error>
            </mat-form-field>
          </div>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="editingKey !== element.key">
            <button mat-icon-button color="primary" (click)="startEditing(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div *ngIf="editingKey === element.key">
            <button mat-icon-button color="primary" (click)="saveEditing()">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="cancelEditing()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="add-form-container">
    <h3>Add New Entry</h3>
    <form [formGroup]="addForm" (ngSubmit)="addEntry()">
      <mat-form-field appearance="outline" class="full-width-field" color="accent">
        <mat-label>Key</mat-label>
        <input matInput formControlName="key" placeholder="Resource key" />
        <mat-error *ngIf="addForm.controls['key'].invalid">Key is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-field" color="accent">
        <mat-label>Value</mat-label>
        <input matInput formControlName="value" placeholder="Resource value" />
        <mat-error *ngIf="addForm.controls['value'].invalid">Value is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-field" color="accent">
        <mat-label>Comment</mat-label>
        <input matInput formControlName="comment" placeholder="Resource comment" />
        <mat-error *ngIf="addForm.controls['comment'].invalid">Comment is required</mat-error>
      </mat-form-field>

      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="addForm.invalid">Add Entry</button>
      </div>
    </form>
  </div>
</div>
