{
  "EmailSettings": {
    "SmtpServer": "",
    "Port": "587",
    "UserName": "",
    "Password": "",
    "FromAddress": ""
  },
  "Jwt": {
    "Key": "",
    "Issuer": "",
    "Audience": "",
    "TokenValidityInMinutes": 15,
    "RefreshTokenValidityInDays": 30
  },
  "DatabaseConfig": {
    "ConnectionString": ""
  },
  "ConnectionStrings": {
    "HangfireConnection": ""
  },
  "KeyManagement": {
    "MasterKey": ""
  },
  "Resources": {
    "Path": "./"
  }
}