<mat-sidenav-container class="admin-sidenav-container">
  <mat-sidenav #drawer class="admin-sidenav" fixedInViewport
               [mode]="'side'"
               [opened]="true">
    <mat-toolbar>Admin Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/users">Manage Users</a>
      <!-- Add more admin links here -->
      <a mat-list-item routerLink="/admin/reports">Reports</a>
      <a mat-list-item routerLink="/admin/settings">Settings</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Admin - </span>
    </mat-toolbar>
    <!-- The RouterOutlet will load your admin pages here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
